<html>
<head>
  <title>GoStat - XonStat's Main Page, Written in Go</title>
  <link type="text/css" href="/css/foundation.min.css" rel="stylesheet"></link>
  <link type="text/css" href="/css/app.css" rel="stylesheet"></link>
  <script src="/js/foundation.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="small-12 columns text-center">
            <img src="/img/logo.png" alt="Xonotic logo">
        </div>
    </div>

    <div class="row">
        {{ if .OverallStatLine }}
        <div class="small-12 columns">
            {{ .OverallStatLine }}
        </div>
        {{ end }}
    </div>

    <div class="row">
        {{ if .RecentStatLine }}
        <div class="small-12 columns">
            {{ .RecentStatLine }}
        </div>
        {{ end }}
    </div>

    <div class="row">
        <div class="small-12 large-3 columns">
          <h5>Duel Ranks</h5>
          <table>
              <tr>
                  <th>#</th>
                  <th>Nick</th>
                  <th>Elo</th>
              </tr>
              {{ range .DuelRanks }}
              <tr>
                  <td>{{ .Rank }}</td>
                  <td>{{ .Nick.HTML }}</td>
                  <td>{{ printf "%.0f" .Elo }}</td>
              </tr>
              {{ end }}
          </table>
        </div>

        <div class="small-12 large-3 columns">
          <h5>CTF Ranks</h5>
          <table>
              <tr>
                  <th>#</th>
                  <th>Nick</th>
                  <th>Elo</th>
              </tr>
              {{ range .CTFRanks }}
              <tr>
                  <td>{{ .Rank }}</td>
                  <td>{{ .Nick.HTML }}</td>
                  <td>{{ printf "%.0f" .Elo }}</td>
              </tr>
              {{ end }}
          </table>
        </div>

        <div class="small-12 large-3 columns">
          <h5>DM Ranks</h5>
          <table>
              <tr>
                  <th>#</th>
                  <th>Nick</th>
                  <th>Elo</th>
              </tr>
              {{ range .DMRanks }}
              <tr>
                  <td>{{ .Rank }}</td>
                  <td>{{ .Nick.HTML }}</td>
                  <td>{{ printf "%.0f" .Elo }}</td>
              </tr>
              {{ end }}
          </table>
        </div>

        <div class="small-12 large-3 columns">
          <h5>TDM Ranks</h5>
          <table>
              <tr>
                  <th>#</th>
                  <th>Nick</th>
                  <th>Elo</th>
              </tr>
              {{ range .TDMRanks }}
              <tr>
                  <td>{{ .Rank }}</td>
                  <td>{{ .Nick.HTML }}</td>
                  <td>{{ printf "%.0f" .Elo }}</td>
              </tr>
              {{ end }}
          </table>
        </div>

    </div>

    <div class="row">
        {{ if .TopPlayersByTime }}
        <div class="small-12 large-4 columns">
          <h5>Most Active Players</h5>
          <table>
              <tr>
                  <th>#</th>
                  <th>Nick</th>
                  <th>Time</th>
              </tr>
              {{ range .TopPlayersByTime }}
              <tr>
                  <td>{{ .N }}</td>
                  <td>{{ .Nick.HTML }}</td>
                  <td>{{ .PlayTime }}</td>
              </tr>
              {{ end }}
          </table>
        </div>
        {{ end }}

        {{ if .TopServersByGames }}
        <div class="small-12 large-4 columns">
          <h5>Most Active Servers</h5>
          <table>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Games</th>
              </tr>
              {{ range .TopServersByGames }}
              <tr>
                  <td>{{ .N }}</td>
                  <td>{{ .Name.HTML }}</td>
                  <td>{{ .Games }}</td>
              </tr>
              {{ end }}
          </table>
        </div>
        {{ end }}

        {{ if .TopMapsByGames }}
        <div class="small-12 large-4 columns">
          <h5>Most Active Maps</h5>
          <table>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Games</th>
              </tr>
              {{ range .TopMapsByGames }}
              <tr>
                  <td>{{ .N }}</td>
                  <td>{{ .Name }}</td>
                  <td>{{ .Games }}</td>
              </tr>
              {{ end }}
          </table>
        </div>
        {{ end }}

    </div>

    <div class="row">
        {{ if .RecentGames }}
        <div class="small-12 columns">
          <table>
              <tr>
                  <th></th>
                  <th>Type</th>
                  <th>Server</th>
                  <th>Map</th>
                  <th>Time</th>
                  <th>Winner</th>
              </tr>
              {{ range .RecentGames }}
              <tr>
                  <td></td>
                  <td>{{ .GameType }}</td>
                  <td>{{ .ServerName.HTML }}</td>
                  <td>{{ .MapName }}</td>
                  <td>{{ .GameDate }}</td>
                  <td>{{ .WinnerNick.HTML }}</td>
              </tr>
              {{ end }}
          </table>
        </div>
        {{ end }}

    </div>

</body>
</html>
